name: Build and Push Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY: docker.io
  USERNAME: agdevsu
  IMAGE_NAME: agdevsu/devops

jobs:
  build:

    runs-on: ubuntu-latest
    environment: PRODUCTION
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@d6a3abf1bdea83574e28d40543793018b6035605
        with:
          cosign-release: 'v1.7.1'
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf
        
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        run: |
          cd app && docker build -t ${{ env.IMAGE_NAME }}:${{ github.sha }} . && docker push ${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy:

    runs-on: ubuntu-latest
    environment: PRODUCTION
    
    steps:
      - name: Deploy Docker Container
        uses: fifsky/ssh-action@master
        with:
          command: |
            echo "Log into Docker Registry ..."
            # echo ${{ secrets.DOCKER_TOKEN }} | docker login --username agdevsu --password-stdin
            echo "Deploying Docker container ..."
            # docker run -p 5000:5000 -d ${{ env.IMAGE_NAME }}:${{ github.sha }}
          # host: ${{ secrets.HOST }}
          # user: ubuntu
          # key: ${{ secrets.PRIVATE_KEY}}